@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--color-2);
}


:root {
	/* --color-1: #5AA9E6;
	--color-2: rgb(162, 139, 139); 
	--color-3: #FF6B6B;
	--color-4: #1B4079;
    --color-5: #373F51; */

	--color-1: #e94b3c; 
	--color-2: #abcfc5;
    --color-3: #5AA9E6; 

}
